* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
  height: 5000px;
  padding: 0 140px;
  background: #0F0D0E;
}

section header {
  padding: 25px 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 79px;
}

section header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 63px;
}

section header nav a {
  text-decoration: none;
  color: white;
}

section header nav div {
  position: absolute;
  border-radius: 50%;
  width: 7.14px;
  height: 7.14px;
  left: 700px;
  top: 40.28px;
  background: #FF0000;
}

section header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

section header div .chiziq {
  height: 18px;
  border: 1px solid #676767;
}

section .box1 {
  color: white;
}

section .box1 h1 {
  font-size: 100px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
  margin-bottom: 28px;
}

section .box1 p {
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  margin-bottom: 74px;
}

section .box1 .car1 {
  position: absolute;
  top: 380px;
  left: 275px;
}

section .box1 .car1joyi {
  position: absolute;
  top: 0;
  left: 0;
}

section .box1 h3 {
  text-align: start;
  font-size: 14px;
  color: #C2C2C2;
  line-height: 100px;
}

section .box1 .right-text h2:first-child {
  color: white;
}

section .box1 .right-text h2 {
  font-size: 16px;
  text-align: end;
  margin-bottom: 35px;
  color: #676767;
}

section .box1 .box1-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 100px;
  margin-bottom: 111px;
}

section .box1 .box1-footer .boxfotdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 145px;
  gap: 90px;
  padding: 45px 96px;
  -webkit-clip-path: polygon(3% 0, 100% 0%, 97% 99%, 0 100%);
          clip-path: polygon(3% 0, 100% 0%, 97% 99%, 0 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(-21.07%, rgba(255, 255, 255, 0.16)), color-stop(120.5%, rgba(255, 255, 255, 0.02)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.16) -21.07%, rgba(255, 255, 255, 0.02) 120.5%);
}

section .box1 .box1-footer .boxfotdiv h1 {
  font-size: 25px;
  margin-bottom: 0;
}

section .box1 .box1-footer .boxfotdiv p {
  font-size: 13px;
  margin-bottom: 0;
}

section .box1 .box1-footer .boxfotdiv .chiziq {
  height: 30px;
  border: 1px solid #676767;
}

section .box1 .box1-footer .iz {
  position: absolute;
  top: 756px;
  left: 0;
  z-index: 0;
}

section .box2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  z-index: 2;
}

section .box2 h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 55px;
  color: white;
  margin-bottom: 50px;
}

section .box2 button {
  width: 204px;
  height: 63px;
  background: #FF0000;
  padding: 15px 23px;
  color: white;
  border: 0;
}

section .box2 .box2-div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}

section .box2 .box2-div1 .qizilbox {
  width: 274.94px;
  height: 267.27px;
  padding: 74px 28px;
  position: relative;
  top: 27px;
  background: linear-gradient(135.78deg, #FF4E63 -8.21%, #B90712 114.35%);
  text-align: center;
}

section .box2 .box2-div1 .qizilbox p {
  color: white;
  margin-top: 30px;
}

section .box2 .box2-div1 div {
  width: 274.94px;
  height: 267.27px;
  padding: 74px 28px;
  border: 1px solid gray;
  text-align: center;
}

section .box2 .box2-div1 div p {
  color: white;
  margin-top: 30px;
}

section .box2 .box2-div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
}

section .box2 .box2-div2 div {
  position: relative;
  top: 55px;
  width: 274.94px;
  height: 267.27px;
  padding: 74px 28px;
  border: 1px solid gray;
  text-align: center;
}

section .box2 .box2-div2 div p {
  color: white;
  margin-top: 30px;
}

section .box2 .box2-div2 div:last-child {
  position: relative;
  top: 30px;
}
/*# sourceMappingURL=Style.css.map */